body{
	/*background-image: url('../img/task4.JPG');*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	background-color: rgb(49,54,57);
}

h1,p,.tooltip{
	text-align: center;
}

#error, .tooltip{
	color:red;
	display: none;
}

#app-login{
	margin: auto;
    background-color: white;
    width: 400px;
    /*border-radius: 5px;*/
    padding: 10px;
}

form{ 
	display: flex;
	flex-direction: column;
	
}

input{
	text-align: center;
	margin: 5px;
	height: 40px;
	font-size: 17px;
	border: 0 solid black;
	background-color: #e9ecef;
}

input[type=submit]{
	background-color: rgb(70,74,77);
	color: white;
}

a{
	text-decoration: none;
}